.Video {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Video figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: purple;
  }
  
  .Heart:hover {
    color: purple;
  }
  
  .HeartOutline:hover {
    color: purple;
  }