.error-404-page .error-404-page__wrapper .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    padding: 0 80px;
}

.error-404-page .error-404-page__wrapper .main-content .main-content__wrapper {
    background-color: #FAFAFA;
    padding: 42px 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-404-page .error-404-page__wrapper .main-content .main-content__wrapper .page-title {
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    text-transform: uppercase;
    color: #013A6D;
    padding: 25px 0 12px 0;
}

.error-404-page .error-404-page__wrapper .main-content .main-content__wrapper .page-title h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #013A6D;
    padding: 0 0 22px 0;
}

.error-404-page .error-404-page__wrapper .main-content .main-content__wrapper .page-title p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #4F4F4F;
}

@media (max-width: 600.98px) {
    .error-404-page .error-404-page__wrapper .main-content {
        padding: 0 !important;
    }

    .error-404-page .error-404-page__wrapper .main-content .main-content__wrapper {
        background-color: #FFFFFF !important;
        padding: 0 !important;
        text-align: justify !important;
    }

}

@media (max-width: 991.98px) {
    .error-404-page .error-404-page__wrapper .main-content {
        padding: 0 !important;
    }

    .error-404-page .error-404-page__wrapper .main-content .main-content__wrapper {
        padding: 35px 20px !important;
    }

    .error-404-page .error-404-page__wrapper .main-content .main-content__wrapper .page-title {
        font-size: 35px !important;
    }

    .error-404-page .error-404-page__wrapper .main-content .main-content__wrapper h6 {
        font-size: 18px !important;
    }

}
